.DS_Store
.env.dev
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

.state
reservation_service/db/reservation_db.gz
tour_operator_service/db/to_db.gz
trip_offer_service/db/dump
payment_service/db/payment_db.gz
api_gateway/db/api_gateway_db.gz